RewriteEngine On

# Permitir PHP
<Files "*.php">
    Order allow,deny
    Allow from all
</Files>

# Hacer que geowriter.zip redirija a geowriter.php
RewriteRule ^geowriter\.zip$ geowriter.php [L]
RewriteRule ^conversa\.zip$ conversa.php [L]
